{% extends 'dashboard/base.html' %}
{% block content %}
{% load static %}



<section class="section register d-flex flex-column align-items-center justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12 d-flex flex-column align-items-center justify-content-center">

            <!-- <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
                </a>
            </div> -->
            <!-- End Logo -->
            
            <div style="padding-top:20px; text-align:center;">
                <div>
                  <img src="{% static 'assets/img/logo-fupre.png' %}" width="150px" height="110px"></div>

                  <div>
                    <p style="font-weight:bold; color:#000;">FEDERAL UNIVERSITY OF PETROLEUM RESOURCES<br>
                      P.M.B 1221, EFFURUN, DELTA STATE</p>
                  </div>

                  <p>Hostel Accomodation</p>
              </div>


            <div class="row">
                {% for student in student %}
                <div class="col-12 d-flex justify-content-center">
                    <img src="{{student.passport.url}}" alt="" width="130" height="130" class="float-left">
                </div>


                <div style="text-align:center;">
                    <h3 style="font-weight:bold">
                        {{student.last_name}} {{student.first_name}} {{student.other_name}}
                    </h3>
                </div>


                <div class="col-12">
                    <table class="table table-bordered">
                        <tr>
                            <td>Allocation Session:</td>
                            <td>{{student.sex}}</td>
                        </tr>
                        <tr>
                            <td>Gender:</td>
                            <td>{{student.sex}}</td>
                        </tr>
                        <tr>
                            <td>Mobile:</td>
                            <td>{{student.mobile}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{student.email}}</td>
                        </tr>
                        <tr>
                            <td>Level:</td>
                            <td>{{student.level}}</td>
                        </tr>
                        <tr>
                            <td>Registration number:</td>
                            <td>{{student.registration_num}}</td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
                {% for hostel in hostel %}
                <h4 class="text-dark text-left">HOSTEL INFOMATION</h4><hr>
                <div class="col-12">
                    <table class="table table-bordered">
                        <tr>
                            <td>Allocation Session:</td>
                            <td>2022/2023</td>
                        </tr>
                        <tr>
                            <td>Hostel:</td>
                            <td>{{hostel.bedspace.hostel.hostel_name}}</td>
                        </tr>
                        <tr>
                            <td>Floor:</td>
                            <td>{{hostel.bedspace.floor.floor}}</td>
                        </tr>
                        <tr>
                            <td>Room:</td>
                            <td>{{hostel.bedspace.room.room}}</td>
                        </tr>
                        <tr>
                            <td>Room Type:</td>
                            <td>Shared/Extention/Single</td>
                        </tr>
                    </table>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" onclick="window.print()">Print Application Slip</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}