{% extends 'dashboard/base.html' %}
{% load humanize %}
{% block content %}
{% load static %}
<div class="pagetitle d-print-none">
    <h1>Payment</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Print Invoice</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card card-body">
                      <div style="padding-top:20px;">

                        <div style="padding-top:20px; text-align:center;">
                            <div>
                              <img src="{% static 'assets/img/logo-fupre.png' %}" width="150px" height="110px"></div>
    
                              <div>
                                <p style="font-weight:bold; color:#000;">FEDERAL UNIVERSITY OF PETROLEUM RESOURCES<br>
                                  P.M.B 1221, EFFURUN, DELTA STATE</p>
                              </div>
                          </div>

                          <table class="table table-bordered" >
                            <tr>
                                <th>Name</th>
                                <td>{{payment.student.last_name}} {{payment.student.first_name}}</td>
                            </tr>
                            <tr>
                                <th>Registration Number</th>
                                <td>{{payment.student.registration_num}}</td>
                            </tr>
                            <tr>
                                <th>Level</th>
                                <td>{{payment.student.level}}</td>
                            </tr>
                            <tr>
                                <th>Amount</th>
                                <td>NGN {{payment.payment.amount | intcomma}}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>Payment for {{payment.payment.payment_type}}</td>
                            </tr>
                            <tr>
                                <th>RRR</th>
                                <td>{{payment.rrr}}</td>
                            </tr>
                            <tr>
                                <th>Date Generated</th>
                                <td>{{payment.generated_on}}</td>
                            </tr>
                          </table>
                      </div>
                      <button type="button" onclick="makePayment()" class="btn btn-success d-print-none my-2" target="_blank">Pay now</button>
                      <button class="btn btn-outline-secondary d-print-none my-2" onclick="window.print()">Print invoice</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock content %}
{% block remita %}
<script type="text/javascript" src="https://remitademo.net/payment/v1/remita-pay-inline.bundle.js"></script>
<script>         
    function makePayment() {
        var form = document.querySelector("#payment-form");
        var paymentEngine = RmPaymentEngine.init({
            key: 'UzAwMDA1NDkxNzl8MTEwMDU1MTIwMzIxfDRhZjJjYTE1NzcxMjMyY2IzNWE2MzE2NmIxYWQyZjNhYzJjZTczNGU4MmZkYWZmOTk3MDkxYjg2NTZjNWUzMzFjYjE3NTRiZTBkMjc1YTgxMDhlNjhiMTQzYjA1ZjZiMjQ4NjQxZGM5NTU5NzA0ZjY2MjMwYWU5NTcyNmVlZTgz',
            transactionId: '{{payment.rrr}}', // Replace with a reference you generated or remove the entire field for us to auto-generate a reference for you. Note that you will be able to check the status of this transaction using this transaction Id
            customerId: '{{payment.student.email}}',
            firstName: '{{payment.student.first_name}}',
            lastName: '{{payment.student.last_name}}',
            email: '{{payment.student.email}}',
            amount: '{{payment.payment.amount}}',
            narration: '{{payment.payment.payment_type}}',
            onSuccess: function (response) {
                //console.log('callback Successful Response', response);
            },
            onError: function (response) {
                //console.log('callback Error Response', response);
                
            },
            onClose: function () {
                //console.log("closed");
            }
        });
         paymentEngine.showPaymentWidget();
    }
   
    window.onload = function () {
        setDemoData();
    };
</script>
{% endblock remita %}