{% extends 'application/main.html' %}
{% load static %}
{% block content %}
<div class="row my-4">
    <div class="col-12 d-flex justify-content-center">
        <!-- <h2>{{school}}</h2> -->
    </div>
    <div class="col-12 d-flex justify-content-center">
        <h4>ACKNOWLEDGEMENT PRINTOUT</h4>
    </div>
</div>
{% comment %} <div class="row my-4">
    <div class="col-sm-12">
        <div class="d-flex post-entry d-flex justify-content-center">
            <div class="custom-thumbnail">
            <img src="{{user.profile.passport.url}}" alt="Image" class="img-fluid rounded-circle" width="150px" height="150px">
            </div>
        </div>
    </div>
</div> {% endcomment %}
<div class="row d-flex justify-content-center my-4">
    <div class="col-12">
        <div class="alert alert-info">
            Do not generate matric number if any information below in incorrect
        </div>
        <div class="table-responsive-md">
            <table class="table">
                <tr>
                    <th>Passport</th>
                    <td class="justify-content-center">
                        <img src="{{student.personal.photo.url}}" alt="{{student.personal.last_name}} {{student.personal.first_name}}" style="width: 150px; height:150px;">
                    </td>
                </tr>
                <tr>
                    <th>Jamb Number</th>
                    <td>{{ student.applicant.jamb }}</td>
                </tr>
                <tr>
                    <th class="text-left">Last Name</th>
                    <td class="text-left">{{student.applicant.last_name}}</td>
                </tr>
                <tr>
                    <th class="text-left">First Name</th>
                    <td class="text-left">{{student.applicant.first_name}}</td>
                </tr>
                {% if student.applicant.other_name  %} 
                <tr>
                    <th class="text-left">Other Name</th>
                    <td class="text-left">{{student.applicant.other_name}}</td>
                </tr>
                {% endif %}
                <tr>
                    <th class="text-left">Email</th>
                    <td class="text-left">{{student.applicant.email}}</td>
                </tr>
                <tr>
                    <th class="text-left">Date of Birth</th>
                    <td class="text-left">{{student.personal.dob}}</td>
                </tr>
                <tr>
                    <th class="text-left">Address</th>
                    <td class="text-left">{{student.personal.address}}</td>
                </tr>
                <tr>
                    <th class="text-left">Mobile</th>
                    <td class="text-left">{{student.applicant.mobile}}</td>
                </tr>
                <tr>
                    <th class="text-left">Faculty</th>
                    <td class="text-left">{{dept.dept.faculty.name}}</td>
                </tr>
                <tr>
                    <th class="text-left">Department</th>
                    <td class="text-left">{{dept.dept.name}}</td>
                </tr>
                <tr>
                    <th class="text-left">Matric number</th>
                    <td class="text-left">{{student.registration_num}}</td>
                </tr>
            </table>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row d-flex justify-content-center my-4">
                <div class="col-12">
                    {% if student.registration_num %}
                    <button type="button" class="btn btn-success d-print-none btn-block" onclick="window.print()">Print</button>
                    {% else %}
                    <button type="submit" name="submit" class="btn btn-success d-print-none btn-block">Generate matric number</button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}